<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite guice-stage="DEVELOPMENT" name="phpTravelsNET">
  
  <test name="Release 1">
    <classes>
      <class name="phpTravels.pack.tests.SignInTest"/>
      <class name="phpTravels.pack.tests.SignUpTest"/>
    </classes>
  </test> 
  
  <test name="Release 2">
    <classes>
      <class name="phpTravels.pack.tests.SignUpTest"/>
      <!-- <class name="phpTravels.pack.tests.SignUpTest"/> -->
      <!-- <class name="phpTravels.pack.tests.SignUpTest"/> -->
    </classes>
  </test> 
  
  <test name="Release 3">
    <classes>
      <class name="phpTravels.pack.tests.SignUpTest"/>
      <!--<class name="phpTravels.pack.tests.SignUpTest"/>-->
      <!--<class name="phpTravels.pack.tests.SignUpTest"/>-->
    </classes>
  </test> 
  
</suite>